<span class="header__icon">
  {%- if settings.cart_icon == "shopping_bag" -%}
    {% render 'icon-bag', custom_width: 20 %}
  {%- else -%}
    {% render 'icon-cart', custom_width: 25 %}
  {%- endif -%}
</span>
<span class="tooltip-content fs-small tooltip-bottom">
  {{ 'templates.cart.minicart' | t }}
</span>
{%- if cart != empty -%}
  <div class="cart-count round-50 bg-dark color-light fs-small d-inline-flex">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- else -%}
      <span aria-hidden="true">~</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
